# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [134]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [135]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [136]:
# Your code here:

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [137]:
# Your code here:

nulos = salaries.isnull().sum()
nulos

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [138]:
# Your code here:

salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [139]:
# Your code here:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

In [140]:
department_count = salaries['Department'].value_counts().reset_index()
department_count.columns = ['Department', 'Count']
department_count

               Department  Count
0                  POLICE  13414
1                    FIRE   4641
2           STREETS & SAN   2198
3                    OEMC   2102
4             WATER MGMNT   1879
5                AVIATION   1629
6              TRANSPORTN   1140
7          PUBLIC LIBRARY   1015
8        GENERAL SERVICES    980
9        FAMILY & SUPPORT    615
10                FINANCE    560
11                 HEALTH    488
12           CITY COUNCIL    411
13                    LAW    407
14              BUILDINGS    269
15  COMMUNITY DEVELOPMENT    207
16       BUSINESS AFFAIRS    171
17                   COPA    116
18      BOARD OF ELECTION    107
19                   DoIT     99
20            PROCUREMENT     92
21          INSPECTOR GEN     87
22         MAYOR'S OFFICE     85
23             CITY CLERK     84
24          ANIMAL CONTRL     81
25        HUMAN RESOURCES     79
26       CULTURAL AFFAIRS     65
27          BUDGET & MGMT     46
28           ADMIN HEARNG     39
29           DISABILITIES     28
30              TREASURER     22
31        HUMAN RELATIONS     16
32        BOARD OF ETHICS      8
33           POLICE BOARD      2
34      LICENSE APPL COMM      1

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [141]:
from scipy.stats import t
from scipy.stats import ttest_1samp

In [218]:
# Your code here:
empleados_hora = salaries[salaries['Salary or Hourly'] == 'Hourly'] 

t_test=ttest_1samp(empleados_hora['Hourly Rate'], 30, alternative='two-sided')
t_test.statistic
t_test.pvalue

t_test

TtestResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92, df=8021)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [235]:
# Your code here:
salary_police = salaries[(salaries['Salary or Hourly'] == 'Salary') & (salaries['Department'] == 'POLICE')]

t_test=ttest_1samp(salary_police['Annual Salary'], 86000, alternative='less')
t_test.statistic
t_test.pvalue

0.9989698298224517

Using the `crosstab` function, find the department that has the most hourly workers.

In [236]:

#tabla de frecuencias cruzadas
cross = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])
cross

Salary or Hourly       Hourly  Salary
Department
ADMIN HEARNG                0      39
ANIMAL CONTRL              19      62
AVIATION                 1082     547
BOARD OF ELECTION           0     107
BOARD OF ETHICS             0       8
BUDGET & MGMT               2      44
BUILDINGS                   0     269
BUSINESS AFFAIRS            7     164
CITY CLERK                  0      84
CITY COUNCIL               64     347
COMMUNITY DEVELOPMENT       4     203
COPA                        0     116
CULTURAL AFFAIRS            7      58
DISABILITIES                0      28
DoIT                        0      99
FAMILY & SUPPORT          287     328
FINANCE                    44     516
FIRE                        2    4639
GENERAL SERVICES          765     215
HEALTH                      3     485
HUMAN RELATIONS             0      16
HUMAN RESOURCES             4      75
INSPECTOR GEN               0      87
LAW                        40     367
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              8      77
OEMC                     1273     829
POLICE                     10   13404
POLICE BOARD                0       2
PROCUREMENT                 2      90
PUBLIC LIBRARY            299     716
STREETS & SAN            1862     336
TRANSPORTN                725     415
TREASURER                   0      22
WATER MGMNT              1513     366

In [237]:
cross.sort_values(by='Hourly', ascending=False)

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [238]:
# Your code here:

dep = salaries[(salaries['Salary or Hourly'] == 'Hourly') & (salaries['Department'] == 'STREETS & SAN')]

t_test=ttest_1samp(dep['Hourly Rate'], 35, alternative='less')
t_test.statistic
t_test.pvalue

1.6689265282353859e-21

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [239]:
from scipy.stats import sem

In [240]:
# Your code here:
hourly = salaries[(salaries['Salary or Hourly'] == 'Hourly')]
hourly

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
...,...,...,...,...,...,...,...,...
33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,NaN,46.10
33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85

In [241]:
t.interval(0.95, 
           len(hourly['Hourly Rate'])-1, 
           loc=hourly['Hourly Rate'].mean(),
           scale=sem(hourly['Hourly Rate']))

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [242]:
salary_police

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
...,...,...,...,...,...,...,...,...
33177,"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [243]:
# Cojo salary_police que lo tenía ya antes

t.interval(0.95, 
           len(salary_police['Annual Salary'])-1, 
           loc=salary_police['Annual Salary'].mean(),
           scale=sem(salary_police['Annual Salary']))

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [244]:
# Your code here:

from statsmodels.stats.proportion import proportions_ztest

# h0 p = 0,25
# h1 p =! 0,25

salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

In [245]:
help(proportions_ztest)

Help on function proportions_ztest in module statsmodels.stats.proportion:

proportions_ztest(count, nobs, value=None, alternative='two-sided', prop_var=False)
    Test for proportions based on normal (z) test

    Parameters
    ----------
    count : {int, array_like}
        the number of successes in nobs trials. If this is array_like, then
        the assumption is that this represents the number of successes for
        each independent sample
    nobs : {int, array_like}
        the number of trials or observations, with the same length as
        count.
    value : float, array_like or None, optional
        This is the value of the null hypothesis equal to the proportion in the
        case of a one sample test. In the case of a two-sample test, the
        null hypothesis is that prop[0] - prop[1] = value, where prop is the
        proportion in the two samples. If not provided value = 0 and the null
        is prop[0] = prop[1]
    alternative : str in ['two-sided', 'smaller', 'larger']
        The alternative hypothesis can be either two-sided or one of the one-
        sided tests, smaller means that the alternative hypothesis is
        ``prop < value`` and larger means ``prop > value``. In the two sample
        test, smaller means that the alternative hypothesis is ``p1 < p2`` and
        larger means ``p1 > p2`` where ``p1`` is the proportion of the first
        sample and ``p2`` of the second one.
    prop_var : False or float in (0, 1)
        If prop_var is false, then the variance of the proportion estimate is
        calculated based on the sample proportion. Alternatively, a proportion
        can be specified to calculate this variance. Common use case is to
        use the proportion under the Null hypothesis to specify the variance
        of the proportion estimate.

    Returns
    -------
    zstat : float
        test statistic for the z-test
    p-value : float
        p-value for the z-test

    Examples
    --------
    >>> count = 5
    >>> nobs = 83
    >>> value = .05
    >>> stat, pval = proportions_ztest(count, nobs, value)
    >>> print('{0:0.3f}'.format(pval))
    0.695

    >>> import numpy as np
    >>> from statsmodels.stats.proportion import proportions_ztest
    >>> count = np.array([5, 12])
    >>> nobs = np.array([83, 99])
    >>> stat, pval = proportions_ztest(count, nobs)
    >>> print('{0:0.3f}'.format(pval))
    0.159

    Notes
    -----
    This uses a simple normal test for proportions. It should be the same as
    running the mean z-test on the data encoded 1 for event and 0 for no event
    so that the sum corresponds to the count.

    In the one and two sample cases with two-sided alternative, this test
    produces the same p-value as ``proportions_chisquare``, since the
    chisquare is the distribution of the square of a standard normal
    distribution.

In [246]:
z_score, p_value= proportions_ztest(salaries['Salary or Hourly'].value_counts()[1],
                                    len(salaries),
                                    0.25)

z_score, p_value

(-3.5099964213703005, 0.0004481127249057967)

In [248]:
# el z score es la desviación estandar respecto la media 

#como p value es menor a 0,05 se puede rechazar la hipotesis nula, por lo tanto la proporción es distinta del 25%