Alexis Camarasa

# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pylab as plt
from scipy.stats import norm
import numpy as np
from scipy.stats import t
from scipy.stats import ttest_1samp
from statsmodels.stats import weightstats as w
import pandas as pd
from scipy.stats import ttest_rel  
from scipy.stats import ttest_ind 
from scipy.stats import shapiro
from sklearn.preprocessing import StandardScaler
from scipy.stats import sem
from statsmodels.stats.proportion import proportions_ztest

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [5]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
# Your code here:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:
# Your code here:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [8]:
# Your code here:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [55]:
# Your code here:
sal = salaries.loc[salaries["Salary or Hourly"] == "Hourly"]
sal.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68

In [42]:
""""H0 = 30 ; H1 != 30 """

'"H0 = 30 ; H1 != 30 '

In [23]:
# Your code here:
sal_mean = sal["Hourly Rate"].mean()
sal_mean

32.78855771628128

In [21]:
sal_hr = sal["Hourly Rate"]

In [39]:
t_test, pvalue=ttest_1samp(sal_hr, 30, alternative='two-sided')
t_test, pvalue

(20.6198057854942, 4.3230240486229894e-92)

In [40]:
if pvalue < 0.05:
    print("La media de Hourly Rate es significativamente diferente de 30 $/hora (nivel de confianza del 95%)")
else:
    print("La media de Hourly Rate no es significativamente diferente de 30 $/hora (nivel de confianza del 95%)")

La media de Hourly Rate es significativamente diferente de 30 $/hora (nivel de confianza del 95%)

Using the `crosstab` function, find the department that has the most hourly workers.

In [51]:
# Your code here:
table = pd.crosstab(salaries['Department'], salaries['Hourly Rate'] > 0)
table.head()

Hourly Rate        False  True
Department
ADMIN HEARNG          39     0
ANIMAL CONTRL         62    19
AVIATION             547  1082
BOARD OF ELECTION    107     0
BOARD OF ETHICS        8     0

In [48]:
department_most_hourly = table[True].idxmax()
department_most_hourly

'STREETS & SAN'

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [53]:
# Your code here:
""" H0 = 35 ; H1 < 35 """

' H0 = 35 ; H1 < 35 '

In [73]:
sin_n = salaries.loc[salaries["Department"] == department_most_hourly]
sin_n

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,21.43
24,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
36,"ABRAMS, DANIELLE T",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
39,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
...,...,...,...,...,...,...,...,...
33107,"ZIZUMBO, LUIS",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33147,"ZUMMO, ROBERT J",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33149,"ZUNICH, JONATHAN G",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
33156,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,22.12
33162,"ZURAWSKI, MAC Z",REFUSE COLLECTION COORD,STREETS & SAN,F,Salary,NaN,76896.0,NaN

In [74]:
hourly_workers == sin_n["Hourly Rate"]
hourly_workers

7        35.60
21       21.43
24       35.60
36       36.21
39       35.60
         ...
33107    35.60
33147    35.60
33149    36.21
33156    22.12
33162      NaN
Name: Hourly Rate, Length: 2198, dtype: float64

In [76]:
hourly_workers = hourly_workers.dropna()

In [79]:
t_statistic, p_value = ttest_1samp(hourly_workers, 35, alternative="less")
t_statistic, p_value

(-9.567447887848152, 1.6689265282353859e-21)

In [83]:
if pvalue < 0.05:
    print("rechazamos que el salario es igual a 35 (nivel de confianza del 95%)")
else:
    print("aceptamos que el salario es igual a 35 (nivel de confianza del 95%)")

rechazamos que el salario es igual a 35 (nivel de confianza del 95%)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [ ]:
""" H0 => 86000 ; H1 < 86000 """

In [91]:
sal_pd = salaries.loc[salaries["Department"] == "POLICE"]
sal_pd_sal = sal_pd.loc[sal_pd["Salary or Hourly"] == "Salary"]
sal_pd_sal_ann = sal_pd_sal ["Annual Salary"]
sal_pd_sal_ann = sal_pd_sal_ann.dropna()

In [92]:
t_statistic, p_value = ttest_1samp(sal_pd_sal_ann, 86000, alternative="less")
t_statistic, p_value

(3.081997005712994, 0.9989698298224517)

In [94]:
if p_value < 0.05:
    print("rechazamos que el salario promedio es superior a 86K (nivel de confianza del 95%)")
else:
    print("aceptamos que el salario promedio es superior a 86K (nivel de confianza del 95%)")

aceptamos que el salario promedio es superior a 86K (nivel de confianza del 95%)

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [96]:
sal = salaries[salaries["Salary or Hourly"] == "Hourly"]
sal.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68

In [98]:
sal_hr = sal["Hourly Rate"]
sal_hr

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

In [100]:
salmean = sal_hr.mean()

In [101]:
# Your code here:
t.interval(0.95, 
           len(sal_hr)-1, 
           loc=salmean,
           scale=sem(sal_hr))

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [103]:
t.interval(0.95, 
           len(sal_pd_sal_ann)-1, 
           loc=sal_pd_sal_ann.mean(),
           scale=sem(sal_pd_sal_ann))

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [104]:
# Your code here:
"""H0 = 25% ; H1 != 25%"""

'H0 = 25% ; H1 != 25%'

In [106]:
sal = salaries["Salary or Hourly"]

In [107]:
coun_hourly = salaries["Salary or Hourly"].value_counts()["Hourly"]

In [108]:
z_score, p_value= proportions_ztest(coun_hourly,
                                    len(salaries),
                                    0.25)

z_score, p_value

(-3.5099964213703005, 0.0004481127249057967)

In [109]:
if p_value < 0.05:
    print("rechazamos que el numero de personas trabajando por hora es igual al 25% (nivel de confianza del 95%)")
else:
    print("aceptamos que el numero de personas trabajando por hora es igual al 25% (nivel de confianza del 95%)")

rechazamos que el numero de personas trabajando por hora es igual al 25% (nivel de confianza del 95%)